



@font-face {
    font-family: "Georgia";
    src: url('../fonts/Georgia.ttf');
}


.main-elements{
    text-decoration: none;
}


 li{ display: inline;
    list-style-type:none;
    margin: 5%;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
div.main-elements a{
    text-decoration: none;
}

span.title-height{
     width: 100%;
    /* position:absolute; */
    vertical-align: 20px;
   /* border: 3px solid red; */
    font-size: 24px; 
    font-weight: bold;
    color: rgb(0, 0, 0);
}
p{
    font-family:"Georgia";
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.first{
   
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding: 0px;

}

.container{
    height: 320px;
    width: 760px;
    border: 5px solid #fff;
    box-shadow: 3px 3px 10px #000;
    position: relative;
    margin-bottom: 0px;
}
.slide-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide-container .slide{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;    }

.slide-container .slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide-container .active{
    display: block;
}
#prev, #next{
    position:absolute;
    border-radius: 50px;
    border: 1px solid black ;
    height: 45px;
    width: 45px;
    cursor: pointer;
   
    
}
#next{
    right: 40px;
}
#prev{
    left: 40px;
    
}
#next::before{
    
    content: url(next.svg);
    
}
#prev::before{
    
    content: url(prev.svg);
    
}
#next:hover,
#prev:hover{
 border-color: burlywood;
}

div.partners{
    height: 230px;
    position: relative;
    
   
}

.lenovo, .hp , .dell{
    position: relative;
    height:230px;
    width:33%;
    float:left;
    padding: 5px 10px;
    margin-top: 0px;
    box-sizing: border-box;}
    
.partners a{
    position: absolute;
    display:block;
    
    bottom: 0px;
    right: 0px;
    text-decoration: none;
    color: #dab56f;
}
.clear{
    clear:left;
}

div.partners h1{
    display:inline;
    vertical-align: 15px;
    
    
}

div.partners h1,p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
}
div.partners p{
    text-align: justify;
}
div.partners p+a{
    margin-top:20px;
}
