
            body{
                margin: 100px;
                background-color: #e6e6fae8;
                
            }
            
            input[type=text], input[type=password]{
                margin: 8px 0;
                padding: 7px 10px;
                border:1px solid #ccc;
                border-radius: 5px;
                
            }
            
            button{
                background-color:#ccc;
                padding: 9px 5px;
                margin:5px 0;
                cursor:pointer;
                border:1px solid oldlace;
                color: gray;
                width: 80px;
                border-radius: 5px;
            }
            
            button:hover{
            opacity:0.8;
            }
            
        a{
            text-decoration: none;
            /* background-color: #e6e6fae8; */
            border-radius: 5px;
        }
        a:hover{
            background-color: bisque;
            border-radius: 5px;
        }
        .no-hover:hover{
            background-color: white;
        }

        #fn,#pwd{
        font-family:'Lato', sans-serif;
            color: gray;
            }
        
        
            #container{
                
                display: table;
                border: 2px solid whitesmoke;
                border-radius: 15px;
                background-color: white;
                margin: 0px auto;
                
            }
            #container h2{
                text-align: center;
                font-family:'Lato', sans-serif;
                margin-top: 0px;
            }
                    